*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #343633eb;
    width: 100%;
    padding: 30px 0;
    overflow-y: auto;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(1000px, 90vw);
    background-color: #9ba099;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 20px;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #686766, #3fca35);
}

.user-container{
    display: flex;
    flex-direction: column;
    justify-content:start;
    gap: 10px;
    
}

.input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#username{
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 70%;
    font-size: 1rem;
}
#fetch-btn{
    padding: 10px 20px;
    width: 30%;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.stats-container{
    width: 100%;
}

.circle{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #c8c1c1;
    border: 3px solid #5d3585;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(#b362e5 var(--progress-degree,30%), #c8c1c1 0%);
}


.progress{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.progress-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    position: relative;

    background: conic-gradient(
        #4caf50 var(--progress-degree),
        #2c2c2c 0%
    );

    color: white;
    font-weight: bold;

}

.progress-circle::before {
    content: "";

    position: absolute;

    width: 110px;
    height: 110px;

     background-color: #1e1e1e;

    border-radius: 50%;
}

.progress-circle .progress-text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.difficulty {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}

.count {
    font-size: 20px;
    font-weight: 700;
    color: #2be319;
}

.total {
    font-size: 14px;
    color: #bdbdbd;
}

/* ...............cards-styling................ */

.stats-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.card {
    flex: 0 0 calc(50% - 10px);
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    min-width: 0;
}

.card:hover {
    color: #3fca35;
    transform: translateY(-5px);
}

.card-title {
    font-size: 1rem;
    color: #bdbdbd;
}

.card-value {
    font-size: 1rem;
    font-weight: bold;
    word-break: break-word;
}

/* ........ Responsive Design ........ */

@media (max-width: 750px) {
    .container {
        width: 95vw;
        padding: 15px;
    }

    h1 {
        font-size: 1.7rem;
    }

    .input-group {
        flex-direction: column;
        gap: 15px;
    }

    #username,#fetch-btn {
        width: 100%;
    }

    .progress {
        flex-wrap: wrap;
        justify-content: center;
    }

    .progress-circle {
        width: 110px;
        height: 110px;
    }

    .progress-circle::before {
        width: 92px;
        height: 92px;
    }

    .difficulty {
        font-size: 14px;
    }

    .count {
        color: #2be319;;
        font-size: 16px;
    }

    .total {
        font-size: 12px;
    }

    .stats-cards {
        flex-direction: column;
    }

    .card {
        flex: 0 0 100%;
    }

    .card-title {
        font-size: 0.95rem;
    }

    .card-value {
        font-size: 1.2rem;
    }
}